*.exe
*.exe~
*.dll
*.so
*.dylib

*.test

*.out

go.work

*.db
server.crt
server.key
private_key.pem
public_key.pem

*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar

*.log

.vscode

.DS_Store*
.AppleDouble
.LSOverride
ehthumbs.db
Icon?
Thumbs.db

*.mime
*.mim

*.env
*.env-dev
*.config.yaml